#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#root > *{
  margin: 1rem;
}
